<?xml version="1.0"?>
<!--
/**
 * Copyright © Byte8 Ltd. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- profile ::: interface | repository | management -->
    <preference for="Byte8\Profile\Api\Data\ProfileInterface" type="Byte8\Profile\Model\Profile"/>
    <preference for="Byte8\Profile\Api\Data\Profile\SearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Byte8\Profile\Api\ProfileRepositoryInterface" type="Byte8\Profile\Model\ProfileRepository"/>
    <preference for="Byte8\Profile\Model\TypeInstanceOptionsInterface" type="Byte8\Profile\Model\TypeInstanceOptions"/>
    <preference for="Byte8\Profile\Model\RegistryLocatorInterface" type="Byte8\Profile\Model\RegistryLocator"/>
    <preference for="Byte8\Profile\Model\GetProfileDataInterface" type="Byte8\Profile\Model\GetProfileData"/>
    <preference for="Byte8\Profile\Model\GetProfileDataByTypeIdInterface" type="Byte8\Profile\Model\GetProfileDataByTypeId"/>
    <preference for="Byte8\Profile\Model\GetProfileTypeIdInterface" type="Byte8\Profile\Model\GetProfileTypeId"/>
    <preference for="Byte8\Profile\Model\ServiceAbstract\ProcessorGuardInterface" type="Byte8\Profile\Model\ServiceAbstract\ProcessorGuard"/>
    <!-- profile config ::: interface | repository | management -->
    <preference for="Byte8\Profile\Api\Data\ConfigInterface" type="Byte8\Profile\Model\Config"/>
    <preference for="Byte8\Profile\Api\Data\ConfigSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Byte8\Profile\Api\ConfigRepositoryInterface" type="Byte8\Profile\Model\ConfigRepository"/>
    <preference for="Byte8\Profile\Model\Config\ConfigScopeInterface" type="Byte8\Profile\Model\Config\ConfigScope"/>
    <preference for="Byte8\Profile\Model\Config\ConfigScopeWriterInterface" type="Byte8\Profile\Model\Config\ConfigScopeWriter"/>
    <preference for="Byte8\Profile\Model\Config\GetProfileConfigValueByPathInterface" type="Byte8\Profile\Model\Config\GetProfileConfigValueByPath"/>
    <preference for="Byte8\Profile\Model\Config\GetProfileIdByConfigConditionInterface" type="Byte8\Profile\Model\Config\GetProfileIdByConfigCondition"/>
    <preference for="Byte8\Profile\Model\ResourceModel\Config\GetConfigDataInterface" type="Byte8\Profile\Model\ResourceModel\Config\GetConfigDataCache"/>
    <!-- profile config type instance -->
    <preference for="Byte8\Profile\Model\Config\Type\EventConfigInterface" type="Byte8\Profile\Model\Config\Type\EventConfig"/>
    <preference for="Byte8\Profile\Model\Config\Type\LogConfigInterface" type="Byte8\Profile\Model\Config\Type\LogConfig"/>
    <!-- Service Preferences -->
    <preference for="Byte8\Profile\Api\Service\PurgeProfileDataInterface" type="Byte8\Profile\Model\Service\PurgeProfileData"/>
    <!-- profile types -->
    <preference for="Byte8\Profile\Model\ProfileTypes\ConfigInterface" type="Byte8\Profile\Model\ProfileTypes\Config"/>
    <virtualType name="Byte8\Profile\Model\ProfileTypes\Config\Data" type="Magento\Framework\Config\Data">
        <arguments>
            <argument name="reader" xsi:type="object">Byte8\Profile\Model\ProfileTypes\Config\Reader\Virtual</argument>
            <argument name="cacheId" xsi:type="string">profile_type_config</argument>
        </arguments>
    </virtualType>
    <virtualType name="Byte8\Profile\Model\ProfileTypes\Config\Reader\Virtual" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="converter" xsi:type="object">Byte8\Profile\Model\ProfileTypes\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">Byte8\Profile\Model\ProfileTypes\Config\SchemaLocator\Virtual</argument>
            <argument name="fileName" xsi:type="string">profile_type.xml</argument>
            <argument name="idAttributes" xsi:type="array">
                <item name="/config/profile" xsi:type="string">typeId</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Byte8\Profile\Model\ProfileTypes\Config\SchemaLocator\Virtual" type="Magento\Framework\Config\GenericSchemaLocator">
        <arguments>
            <argument name="moduleName" xsi:type="string">Byte8_Profile</argument>
            <argument name="schema" xsi:type="string">profile_type.xsd</argument>
        </arguments>
    </virtualType>
    <type name="Byte8\Profile\Model\ProfileTypes\Config">
        <arguments>
            <argument name="config" xsi:type="object">Byte8\Profile\Model\ProfileTypes\Config\Data</argument>
        </arguments>
    </type>

    <!-- profile history ::: interface | repository | management -->
    <preference for="Byte8\Profile\Api\Data\HistoryInterface" type="Byte8\Profile\Model\History"/>
    <preference for="Byte8\Profile\Api\Data\HistorySearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Byte8\Profile\Api\HistoryRepositoryInterface" type="Byte8\Profile\Model\HistoryRepository"/>
    <preference for="Byte8\Profile\Api\HistoryManagementInterface" type="Byte8\Profile\Model\HistoryManagement"/>

    <!-- Queue entity ::: model interface ::: management interfaces -->
    <preference for="Byte8\Profile\Api\Data\QueueInterface" type="Byte8\Profile\Model\Queue"/>
    <preference for="Byte8\Profile\Api\Data\QueueSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Byte8\Profile\Api\QueueManagementInterface" type="Byte8\Profile\Model\QueueManagement"/>
    <preference for="Byte8\Profile\Api\QueueRepositoryInterface" type="Byte8\Profile\Model\QueueRepository"/>

    <!-- Profile schedule ::: interface | repository | management -->
    <preference for="Byte8\ProfileSchedule\Api\Data\ScheduleInterface" type="Byte8\ProfileSchedule\Model\Schedule"/>
    <preference for="Byte8\ProfileSchedule\Api\Data\ScheduleSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Byte8\ProfileSchedule\Api\ScheduleRepositoryInterface" type="Byte8\ProfileSchedule\Model\ScheduleRepository"/>
    <preference for="Byte8\ProfileSchedule\Model\ScheduleProcessorInterface" type="Byte8\ProfileSchedule\Model\ScheduleProcessor"/>
    <preference for="Byte8\ProfileSchedule\Model\GetProfileIdByScheduleInterface" type="Byte8\ProfileSchedule\Model\GetProfileIdBySchedule"/>
    <preference for="Byte8\ProfileSchedule\Model\GetScheduleDataInterface" type="Byte8\ProfileSchedule\Model\GetScheduleData"/>
    <preference for="Byte8\ProfileSchedule\Model\IsActiveScheduleInterface" type="Byte8\ProfileSchedule\Model\IsActiveSchedule"/>
    <preference for="Byte8\ProfileSchedule\Model\Schedule\CronExpressionValidatorInterface" type="Byte8\ProfileSchedule\Model\Schedule\CronExpressionValidator"/>
    <!-- Profile schedule UI list-->
    <virtualType name="Byte8\ProfileSchedule\Model\ResourceModel\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">byte8_profile_schedule</argument>
            <argument name="resourceModel" xsi:type="string">Byte8\ProfileSchedule\Model\ResourceModel\Schedule</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="byte8_profile_schedule_listing_data_source" xsi:type="string">Byte8\ProfileSchedule\Model\ResourceModel\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Byte8\ProfileSchedule\Api\Data\ScheduleInterface" xsi:type="string">Byte8\ProfileSchedule\Api\ScheduleRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Byte8\ProfileSchedule\Api\Data\ScheduleInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">byte8_profile_schedule</item>
                    <item name="identifierField" xsi:type="string">entity_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <!-- profile config instance ::: schedule -->
    <preference for="Byte8\ProfileSchedule\Model\Config\ScheduleConfigInterface" type="Byte8\ProfileSchedule\Model\Config\ScheduleConfig"/>
    <!-- Logger -->
    <virtualType name="Byte8\ProfileSchedule\VirtualStreamHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">var/log/byte8/scheduler.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Byte8\ProfileSchedule\VirtualRotationStreamHandler" type="Byte8\Core\Logger\Handler\RotationSteamHandler">
        <arguments>
            <argument name="fileName" xsi:type="string">var/log/byte8/scheduler.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Byte8\ProfileSchedule\VirtualLogger" type="Byte8\Core\Logger\LogProcessor">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Byte8\ProfileSchedule\VirtualStreamHandler</item>
                <item name="rotation_debug" xsi:type="object">Byte8\ProfileSchedule\VirtualRotationStreamHandler</item>
                <item name="mail" xsi:type="object">Byte8\Core\Logger\Handler\MailStreamHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Byte8\ProfileSchedule\Model\ScheduleProcessor">
        <arguments>
            <argument name="logger" xsi:type="object">Byte8\ProfileSchedule\VirtualLogger</argument>
        </arguments>
    </type>

    <!-- Profile UI metadata pool -->
    <preference for="Byte8\Profile\Ui\DataProvider\Modifier\Form\MetadataPoolInterface" type="Byte8\Profile\Ui\DataProvider\Modifier\Form\MetadataPool"/>
    <preference for="Byte8\Profile\Ui\DataProvider\Profile\Config\Form\ConfigDataScopeInterface" type="Byte8\Profile\Ui\DataProvider\Profile\Config\Form\ConfigDataScope"/>
    <preference for="Byte8\Profile\Ui\DataProvider\Profile\Config\Form\ConfigDataScopeStorageInterface" type="Byte8\Profile\Ui\DataProvider\Profile\Config\Form\ConfigDataScopeStorage"/>

    <!-- Profile UI list-->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="byte8_profile_listing_data_source" xsi:type="string">Byte8\Profile\Model\ResourceModel\Profile\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Byte8\Profile\Model\ResourceModel\Profile\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">byte8_profile_entity</argument>
            <argument name="resourceModel" xsi:type="string">Byte8\Profile\Model\ResourceModel\Profile</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Byte8\Profile\Api\Data\ProfileInterface" xsi:type="string">Byte8\Profile\Api\ProfileRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Byte8\Profile\Api\Data\ProfileInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">byte8_profile_entity</item>
                    <item name="identifierField" xsi:type="string">entity_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="profile_config_export" xsi:type="object">Byte8\Profile\Console\Command\ExportConfigData</item>
                <item name="profile_config_import" xsi:type="object">Byte8\Profile\Console\Command\ImportConfigData</item>
                <item name="profile_data_purge" xsi:type="object">Byte8\Profile\Console\Command\PurgeProfileDataCommand</item>
            </argument>
        </arguments>
    </type>
</config>
