<?xml version="1.0"?>
<!--
/**
 * Copyright © Byte8 Ltd. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Form Buttons configuration -->
    <virtualType name="Byte8\Profile\Ui\Component\Control\DeleteButton" type="Byte8\Core\Ui\Component\Control\DeleteButton">
        <arguments>
            <argument name="idFieldName" xsi:type="string">id</argument>
            <argument name="actionRoutePath" xsi:type="string">byte8/profile/delete</argument>
            <argument name="aclResource" xsi:type="string">Byte8_Profile::manage</argument>
            <argument name="buttonClass" xsi:type="string">delete btn btn-secondary</argument>
            <!-- argument name="buttonLabel" xsi:type="string" translatable="true">Delete</argument -->
            <argument name="confirmationMessage" xsi:type="string" translatable="true">Confirm delete profile?</argument>
            <argument name="fontName" xsi:type="string">fa-solid fa-trash-can</argument>
            <argument name="sortOrder" xsi:type="number">10</argument>
        </arguments>
    </virtualType>
    <virtualType name="Byte8\Profile\Ui\Component\Control\SaveSplitButtonExtended" type="Byte8\Core\Ui\Component\Control\SaveSplitButtonExtended">
        <arguments>
            <argument name="targetName" xsi:type="string">byte8_profile_schedule_form.byte8_profile_schedule_form</argument>
            <argument name="aclResource" xsi:type="string">Byte8_Profile::manage</argument>
            <argument name="sortOrder" xsi:type="number">40</argument>
        </arguments>
    </virtualType>
    <!-- Form Buttons configuration -->
    <virtualType name="Byte8\Profile\Ui\Component\Control\Profile\SaveSplitButton" type="Magento\Backend\Ui\Component\Control\SaveSplitButton">
        <arguments>
            <argument name="targetName" xsi:type="string">byte8_profile_form.byte8_profile_form</argument>
        </arguments>
    </virtualType>
    <virtualType name="Byte8\Profile\Schedule\Ui\Component\Control\Client\BackButton" type="Byte8\Core\Ui\Component\Control\BackButton">
        <arguments>
            <argument name="backUrl" xsi:type="string">*/*/</argument>
        </arguments>
    </virtualType>
    <virtualType name="Byte8\Profile\Schedule\Ui\Component\Control\DeleteButton" type="Byte8\Core\Ui\Component\Control\DeleteButton">
        <arguments>
            <argument name="idFieldName" xsi:type="string">id</argument>
            <argument name="actionRoutePath" xsi:type="string">*/*/delete</argument>
            <argument name="aclResource" xsi:type="string">Byte8_Profile::manage</argument>
            <argument name="buttonClass" xsi:type="string">delete btn btn-secondary</argument>
            <argument name="buttonLabel" xsi:type="string" translatable="true">Delete</argument>
            <argument name="confirmationMessage" xsi:type="string" translatable="true">Confirm delete schedule?</argument>
            <argument name="sortOrder" xsi:type="number">90</argument>
        </arguments>
    </virtualType>
    <!-- Profile config data UI form modifier -->
    <virtualType name="Byte8\Profile\Ui\DataProvider\Profile\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="profile_entity_data" xsi:type="array">
                    <item name="class" xsi:type="string">Byte8\Profile\Ui\DataProvider\Profile\Form\Modifier\ProfileEntityData</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
                <item name="profile_config_data" xsi:type="array">
                    <item name="class" xsi:type="string">Byte8\Profile\Ui\DataProvider\Profile\Form\Modifier\ProfileConfigData</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
                <item name="profile_history_list" xsi:type="array">
                    <item name="class" xsi:type="string">Byte8_Profile\Ui\DataProvider\Schedule\Modifier\Form\HistoryListModifier</item>
                    <item name="sortOrder" xsi:type="number">1</item>
                </item>
                <item name="profile_schedule_list" xsi:type="array">
                    <item name="class" xsi:type="string">Byte8_Profile\Ui\DataProvider\Schedule\Modifier\Form\ScheduleListModifier</item>
                    <item name="sortOrder" xsi:type="number">2</item>
                </item>
                <item name="profile_assignment_data" xsi:type="array">
                    <item name="class" xsi:type="string">Byte8_Profile\Ui\DataProvider\Schedule\Modifier\Form\ProfileAssignmentModifier</item>
                    <item name="sortOrder" xsi:type="number">3</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Byte8\Profile\Ui\DataProvider\Profile\Form\ProfileDataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Byte8\Profile\Ui\DataProvider\Profile\Form\Modifier\Pool</argument>
        </arguments>
    </type>
    <!-- Profile schedule UI modifier -->
    <type name="Byte8_Profile\Ui\DataProvider\ScheduleDataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Byte8_Profile\Ui\DataProvider\Form\Modifier\Pool</argument>
        </arguments>
    </type>
</config>
